[core]
	pager = delta
	editor = vim

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[user]
	# Replace with your actual email and name
	email = your.email@example.com
	name = Your Name

[url "https://github.com/"]
	insteadOf = git@github.com:

[init]
	defaultBranch = main
	templatedir = ~/.git-template

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = false

[merge]
	tool = vimdiff

[diff]
	tool = vimdiff

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	ca = commit -a
	ps = push
	pl = pull
	mg = merge
	rb = rebase
	df = diff
	dc = diff --cached
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
	visual = !gitk